.dark-mode {
    background-color: #1a1a1a;
    color: #f0f0f0;    
}

.light-mode {
    background-color: #ffffff;
    color: black;
}

.ob-container {
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    grid-template-rows: auto auto;
    /*gap: 10px;*/
    width: 100%;
    grid-template-columns: 1fr 1fr;
     /* grid-template-rows: auto 100px;    */
    
    border: 1px solid chartreuse;
}

.ob-level {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}


.ob-side {    
    padding: 1px;
    text-align: center;
    border: 2px solid blue;
}

.ob-side-buy {    
    padding: 1px;
    text-align: center;
    border: 1px solid green;
}


.ob-side-sell {    
    padding: 1px;
    text-align: center;
    border: 1px solid red;
}

.ob-header {    
    padding: 1px;
    text-align: center;
    border: 1px solid cyan;
}

.ob-sub-header { 
    text-align: center;
    border: 1px solid cyan;
}

.ob-side-buy > .ob-level {    
    padding: 1px;
    text-align: center;
    border: 1px solid greenyellow;
}

.ob-side-sell  > .ob-level {    
    padding: 1px;
    text-align: center;
    border: 1px solid coral;
}
